* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  height: 180px;
}

.header__container {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 23px;
  padding-right: 41px;
  padding-top: 30px;
}

.header__logo {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 1.76px;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 468px;
  height: 50px;
  background-repeat: 4px;
  border: 2px solid #f5f5f5;
}

.header__search-input-wrapper {
  width: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #f5f5f5;
}

.header__search-input {
  height: 47px;
  width: 100%;
  padding: 0 20px;
  border: none;
  font-size: 14px;
  font-family: "Roboto" sans-serif;
  color: #b3b3b3;
  line-height: 2.143;
}

.header__search-input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.header__search-input:-ms-input-placeholder {
  color: #b3b3b3;
}

.header__search-input::-ms-input-placeholder {
  color: #b3b3b3;
}

.header__search-input::placeholder {
  color: #b3b3b3;
}

.header__search-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 142px;
  border-right: 2px solid #f5f5f5;
}

.header__search-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__search-button img {
  color: #808080;
  background-color: gray;
}

.header__buttons {
  width: 300px;
  height: 50px;
  background-color: #922727;
}

.header-select__title {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 10px;
  color: #b3b3b3;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.header-select__title::afret {
  position: absolute;
  top: 4px;
  right: 0;
  content: "";
  display: block;
  width: 8px;
  height: 5px;
  background-image: url(../../img/icons/arrow\icon.svg);
}

.header-select__dropdown {
  display: none;
}
