* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: proxima, Arial, sans-serif;
  font-family: "Proxima Nova";
  font-size: 16px;
  color: #000;
  overflow-wrap: break-word;
}

.container {
  max-width: 100%;
  min-width: 320px;
}

.wrap {
  max-width: 1500px;
  min-width: 290px;
  padding: 0 15px;
  margin: 0 auto;
}

/*header*/
.header {
  background: url(../img/header/back_head.jpg) center top no-repeat #000;
  background-size: cover;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.header__info {
  margin: 16.6% auto;
}

.header__title {
  color: #fff;
  font-size: 60px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 36px;
  font-weight: normal;
}

.header__subtitle {
  text-align: center;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  color: #f84545;
  line-height: 75px;
  font-weight: bold;
  letter-spacing: 12px;
  -webkit-transition: letter-spacing 0.3s;
  transition: letter-spacing 0.3s;
}

.header__link:hover {
  letter-spacing: 15px;
}

.header__btn {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 84px;
  height: 42px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.wrap__btn {
  padding-bottom: 65px;
}

.header__btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/*logo*/
.logo__link {
  display: block;
}

.logo__img {
  display: block;
  max-width: 100%;
}

/*menu*/
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.menu__item {
  color: #fff;
  font-size: 22.5px;
  line-height: 2.222;
  letter-spacing: 6.3px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 65px;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu--black .menu__list {
  color: #000;
}

.menu--black .menu__list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus,
.menu--black .menu__link:hover,
.menu--black .menu__link:active,
.menu--black .menu__link:focus {
  color: #f84545;
}

/*main*/
.content__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 462px))[3];
      grid-template-columns: repeat(3, minmax(100px, 462px));
  grid-gap: 57px;
  margin: 85px auto;
}

.content__link {
  grid-column: span 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  background: url(../img/main/Shoes.jpg) no-repeat #000;
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.content__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1a1a1a), to(rgba(26, 26, 26, 0)));
  background-image: linear-gradient(0deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
  z-index: -1;
  z-index: -1;
}

.content__link:nth-child(1) {
  padding-top: 44.8%;
}

.content__link:nth-child(2) {
  background-image: url(../img/main/man.jpg);
}

.content__link:nth-child(3) {
  background-image: url(../img/main/Girl.jpg);
}

.content__link:nth-child(4) {
  background-image: url(../img/main/niga.jpg);
}

.content__link:nth-child(5) {
  background-image: url(../img/main/back.jpg);
}

.content__link:nth-child(6) {
  background-image: url(../img/main/man_bad.jpg);
}

.content__link--two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.content__link--pt {
  padding-top: 77.9%;
}

.content__icon {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: block;
  margin-bottom: 30px;
}

.content__icon--1 {
  width: 195px;
  height: 191px;
}

.content__icon--2 {
  width: 81px;
  height: 96px;
}

.content__icon--3 {
  width: 140px;
  height: 96px;
}

.content__icon--4 {
  width: 275px;
  height: 68px;
}

.content__icon--5 {
  width: 110px;
  height: 95px;
}

.content__icon--6 {
  width: 183px;
  height: 97px;
}

.content__name {
  font-size: 40px;
  color: white;
  line-height: 45px;
  letter-spacing: 16px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.content__name--big {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 24px;
}

.content__link:hover .content__name {
  color: #f84545;
}

/*instagram*/
.instagram {
  z-index: 1;
}

.instagram__wrap {
  background: url(../img/main_foot/inst.jpg) center top no-repeat #212122;
  background-size: cover;
  z-index: 1;
  opacity: 1;
  padding: 4% 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.instagram__info {
  margin: 16.6% auto;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.instagram__title {
  color: #fff;
  font-size: 60px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 36px;
  font-weight: normal;
}

.instagram__subtitle {
  text-align: center;
}

.instagram__link {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  color: #f84545;
  line-height: 75px;
  font-weight: bold;
  letter-spacing: 12px;
  -webkit-transition: letter-spacing 0.3s;
  transition: letter-spacing 0.3s;
}

.instagram__link:hover {
  letter-spacing: 15px;
}

/*footer*/
.footer {
  padding: 40px 0;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu--black .menu__link {
  color: #1a1a1a;
}

.menu--black:hover {
  color: #f84545;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__item {
  list-style: none;
  margin: 0 18px;
}

.socials__link img {
  width: 26px;
  height: 26px;
}

@media (max-width: 1280px) {
  /*header*/
  .header__title {
    font-size: 50px;
    letter-spacing: 25px;
  }
  /*menu*/
  .menu__item {
    margin-left: 30px;
    letter-spacing: 3px;
  }
  /*main*/
  .content__name {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 8px;
  }
  .content__name--big {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 12px;
  }
  .content__wrap {
    margin-bottom: 40px;
    margin-top: 40px;
    grid-gap: 20px;
  }
  /*instagram*/
  .instagram__title {
    font-size: 50px;
    letter-spacing: 25px;
  }
  /*footer*/
  .menu--black .menu__item {
    font-size: 20px;
  }
  .socials__link img {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 980px) {
  /*menu*/
  .menu__item {
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 15px;
  }
  .content__name {
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 7px;
  }
  .content__name--big {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 10px;
  }
  .content__wrap {
    -ms-grid-columns: (minmax(100px, 462px))[4];
        grid-template-columns: repeat(4, minmax(100px, 462px));
    margin-bottom: 30px;
    margin-top: 30px;
    grid-gap: 15px;
  }
  .content__link {
    grid-column: span 2;
    padding-top: 73%;
  }
  .content__link--two {
    grid-column: 1 / -1;
  }
  .content__icon--4 {
    width: 230px;
    height: 63px;
  }
  /*instagram*/
  .instagram__title {
    font-size: 40px;
    letter-spacing: 20px;
  }
  .instagram__link {
    font-size: 30px;
  }
  /*footer*/
  .menu--black .menu__item {
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 15px;
  }
  .socials__link img {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 768px) {
  /*header*/
  .header__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    margin-bottom: 15px;
  }
  /*menu*/
  .menu__list,
  .menu--black .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*main*/
  .content__link {
    padding-left: 20px;
    padding-right: 20px;
  }
  /*instagram*/
  .instagram__title {
    font-size: 35px;
    letter-spacing: 17px;
  }
  .instagram__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .instagram__logo {
    margin-bottom: 15px;
  }
  /*footer*/
  .menu--black .menu__item {
    font-size: 13px;
  }
  .socials__item {
    margin: 0 10px;
  }
  .socials__link img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 580px) {
  /*header*/
  .header__title {
    font-size: 35px;
    letter-spacing: 9px;
  }
  .header__link {
    font-size: 20px;
    letter-spacing: 6px;
  }
  .header__link:hover {
    letter-spacing: 9px;
  }
  /*menu*/
  /*main*/
  .content__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content__link {
    grid-column: 1 / -1;
    padding-top: 50%;
  }
  .content__name,
  .content__name--big {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 4px;
  }
  /*instagram*/
  .instagram__title {
    font-size: 33px;
    letter-spacing: 9px;
  }
  .instagram__link {
    font-size: 20px;
    letter-spacing: 6px;
  }
  .instagram__link:hover {
    letter-spacing: 9px;
  }
  /*footer*/
  .menu--black .menu__item {
    font-size: 10px;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    padding: 0px 0;
  }
  .socials__link img {
    width: 10px;
    height: 10px;
  }
}
